<ion-content>
  <my-header></my-header>
  <ion-grid
    class="ion-margin-bottom ion-padding-bottom b-bottom  ion-custom-container"
  >
    <my-title [title]="title"></my-title>

    <ion-row class="ion-md-container">
      <p><b>Privacy Policy for Arena Merchandising, LLC</b></p>
      <p>
        We know that you care how information about you is collected, used,
        shared and protected, and we appreciate your trust that we will do so
        with reasonable care. This Arena Merchandising, LLC Privacy Policy (this
        “Policy”) is a legal agreement between you and Arena Merchandising, LLC,
        an Arizona limited liability company (“Arena,” “we,” “us” or “our”),
        providing, among other things, the terms and conditions for your use of
        Arena’s streaming music and content services, including, but not limited
        to, delivery via our web site http://www.arena.com (the “Site”), a
        mobile device, or otherwise. We refer to the Site and the software
        applications made available by Arena, whether on the Site or through
        your desktop or mobile applications, as the “Service Applications,” we
        refer to all content on the Site (other than User Content), such as
        text, designs, graphics, logos, button icons, images, audio clips,
        digital downloads, data compilations, photographs, illustrations, audio
        and video material, artwork, graphic material, databases, proprietary
        information and all copyrightable or otherwise legally protectable
        elements of the Service and the Site, including, without limitation, the
        &quot;look and feel&quot; of the Service and software, even after
        installation on your devices, as the “Arena Content,” and we refer to
        the Service Applications, the Arena Content and the service provided
        through the Service Applications, collectively, as the “Services.”
      </p>
      <p>
        Sometimes changes in the law or changes in the relationships between
        Arena and our third party vendors will require us to modify, add or
        remove all or a portion of this Policy, which we may do from time to
        time, in our discretion. If we do make changes to this Policy, we will
        post a copy of the amended Policy on www.arena.com/privacy. It is your
        responsibility to check this Policy periodically for changes. You can
        tell if the Policy has changed by referring to the “Last Modified” date
        at the top of this Policy. By continuing to use the Services after those
        changes are posted, you will be deemed to have accepted the Policy as
        amended.
      </p>
      <p>
        By using the Services, or by creating a user account, you signify your
        acceptance to this Privacy Policy (“Policy”) and our Terms of Use
        (together with the Privacy Policy, the “Agreements”). Accordingly,
        please read this Privacy Policy carefully. If you don’t agree with the
        Privacy Policy, then please don’t use the Services.
      </p>
      <br />
      <h5>WHAT INFORMATION WE COLLECT</h5>
      <br />

      <p class="ion-no-padding ion-no-margin">
        <b> Types of personal information we may collect include: </b>
      </p>

      <ul class="ion-margin-start">
        <li>Your name, password, and user image (avatar)</li>
        <li>Your mailing address and/or billing address</li>
        <li>Your e-mail address</li>
        <li>Your phone (or mobile) number</li>
        <li>Your credit/debit card numbers or other payment information</li>
        <li>Your purchase history</li>
        <li>Your date of birth</li>
        <li>Your location</li>
        <li>
          Your listening historyYour playlists (music you favorite to “My
          Radio”)
        </li>
        <li>Your Fanmusic reviews or blog Reportsarticles</li>
        <li>Your Favorites (items you favorite to “My ProfileFavorites”)</li>
      </ul>
      <br />
      <h6>Information You Give Us</h6>
      <br />
      <p>
        We may collect and store any information you enter on our site or give
        us in any other way, such as through e-mails, or fan reports, user
        content, or form submissions. If you choose not to provide personal
        information to us, then we may be unable to provide you with the
        Services.
      </p>
      <p>
        Information Collected Automatically Like many other on-line companies,
        we may use cookies and other related technologies to receive and store
        certain types of information whenever you interact with us through your
        computer, tablet, or mobile device. This information, which includes
        information like your IP address, web browser type, operating system,
        pages you visit on our site, which web address you came from, the web
        address you go to, the type of device you are using, and geographic
        information, helps us recognize you, customize your website experience,
        and make the Services more relevant for you.
      </p>
      <p>
        Cookies are simple alphanumeric identifiers that we transfer to your
        computer’s hard drive through your web browser to enable our systems to
        recognize your browser and to provide features such as personalized
        communications and storage of items in your account between visits. For
        more information about cookies, see “What Choices You Have” below.
      </p>
      <h6><b>Information from Other Sources</b></h6>
      <p>
        We may receive information about you from other sources and add it to
        your account information. These sources may include other social media
        sites (for example, Facebook, Twitter, Google / Google+, and so forth)
        to which you link your Arena.com account.
      </p>
      <h6><b>Geo-Location Tracking</b></h6>
      <p>
        Certain computers, tables, and mobile devices contain geo-location
        tracking capability. We may use such capability or other geo-location
        tracking technology to generally identify your location in connection
        with providing the Services.
      </p>
      <h6><b>Social Media App Icons</b></h6>
      <p>
        The Site and Service Applications may include social media features,
        such as Facebook, Google, and Twitter icons, and Disqus capability (for
        commenting features). These features may collect information about you,
        such as your IP address, which page you’re visiting on our site, your
        listening history, interaction history, and so forth, and they may set a
        cookie to make sure their features function properly. Your interactions
        with those features are governed by the privacy policies of the
        companies that provide them.
      </p>
      <br />
      <h5>HOW WE USE YOUR INFORMATION</h5>
      <p>
        <b>
          Examples of how we use the information we collect include (but are not
          limited to):
        </b>
      </p>
      <p><b>Product and Service Fulfillment</b></p>
      <ul class="ion-margin-start">
        <li class="no-bullet">
          Provide streaming music services, music downloads, editorial content,
          video, merchandise purchasing, and related services;
        </li>
        <li>
          Fulfill requests and manage orders for streaming and/or downloadable
          content and band or artist merchandise, and requests for information
          about our products and services;
        </li>
        <li>Administer sweepstakes and contests.</li>
        <li class="no-bullet">
          <h6><b>Our Marketing Purposes</b></h6>
        </li>
        <li>
          Deliver emails, in-app messages, mobile messages, and social media
          notifications;
        </li>
        <li>
          Provide interactive features of the Services, such as content reviews
          or music suggestions and other information concerning the Services;
        </li>
        <li class="no-bullet">
          <h6><b>Administer promotions and surveys;</b></h6>
        </li>
        <li>
          Use a review or Fan Reportblog article that you submit for commercial
          purposes to promote the content in your review. We may also use part
          of your name and the city and state you gave when submitting your
          review or Fan Reportblog article.
        </li>
        <li class="no-bullet">
          <h6><b>Internal Operations</b></h6>
        </li>
        <li>
          Improve the effectiveness of the Services.
        </li>
        <li class="no-bullet">
          <h6>
            <b>
              Legal Compliance
            </b>
          </h6>
        </li>
        <li>
          Investigate claims, incidents or inquiries and assist law enforcement
          and/or other government entities to respond to legal, regulatory and
          similar inquiries. This includes monitoring against fraud, theft and
          otherwise to protect our customers and our business.
        </li>
      </ul>
      <br />
      <h5>HOW WE SHARE YOUR INFORMATION</h5>
      <br />
      <p>
        We share information we collect within Arena and with companies with
        whom we share ownership. We also share information with companies with
        whom we do business.
      </p>
      <h6><b> Service Providers </b></h6>
      <p>
        We may share the information we collect with companies that provide
        support services to us (such as a printer, e-mail marketers, mobile
        marketing, analytics providers, web hosting providers, content
        providers, payment service providers and/or gateways such as
        Authorize.net, call center service providers, sweepstakes vendors, etc)
        or that help us provide the Services. These companies may need
        information about you in order to perform their functions.
      </p>
      <h6><b>Legal Requirements</b></h6>
      <p>
        We may disclose information we collect when we believe disclosure is
        appropriate to comply with law, to enforce or apply applicable terms and
        conditions and other agreements; or to protect the rights, property and
        safety of our business, customers, or third-party rights holders.
      </p>
      <h6><b>Sharing Anonymous Information with Third Parties</b></h6>
      <p>
        We may share aggregate non-personally identifiable information
        (information that does not directly identify an individual) with third
        parties for any lawful purpose.
      </p>
      <br />
      <p>
        Corporate Asset Transfers
      </p>
      <br />
      <p>
        If we sell or transfer all or part of our business assets for any
        reason, we may transfer the corresponding information regarding our
        customers. We may also retain a copy of that customer information.
      </p>
      <br />
      <h5>
        <b>
          WHAT CHOICES YOU HAVE
        </b>
      </h5>
      <br />
      <h6><b>Opt-Out and Access Choices</b></h6>
      <p>
        You may “opt-out” of certain marketing communications. Most of our
        marketing communications are sent by email, though you may also opt out
        of telephone calls, texting and online behavioral advertising as well.
        You may also access or change your personal information or ask us to do
        so.
      </p>
      <p><b>To do so yourself, you may:</b></p>
      <ul class="ion-margin-start">
        <li>
          Follow opt-out “unsubscribe” instructions in promotional e-mails we
          send to you.
        </li>
        <li>
          Log on to Arena.com to access and changeedit your profile
          informationsettings and preferences if you have an online account with
          us.
        </li>
        <li>
          Set the Tools function of your browser to not receive cookies. Please
          note this may make it impossible to access some features of the
          Services.
        </li>
        <br />
      </ul>
      <h5><b>HOW WE PROTECT YOUR INFORMATION</b></h5>

      <h6><b>Security Methods</b></h6>
      <p>
        We use reasonable administrative, technical and physical safeguards to
        protect your personal information in our possession. However, no
        website, database or system is completely secure or “hacker proof”. You
        are also responsible for taking reasonable steps to protect your
        personal information against unauthorized disclosure or misuse.
      </p>
      <h6><b> E-mail Safety</b></h6>
      <p>
        An e-mail scam known as “phishing” is designed to steal your personal
        information. If you receive an e-mail that looks like it came from us
        and it asks you for your personal information (including financial or
        payment card information), do not respond to it. We will never request
        any financial information or other personal information from you through
        e-mail.
      </p>
      <h6><b>Children’s Personal Information</b></h6>
      <p class="ion-float-left">
        We do not knowingly collect personal information online from children 13
        years of age or younger.
      </p>

      <br />

      <h5>
        <b>
          Questions or Concerns
        </b>
      </h5>

      <h6>
        If you have general questions or concerns about how we use your personal
        information, please contact us at:
      </h6>

      <p>
        Arena Merchandising, LLC <br />
        Attn: Privacy <br />
        2375 East Camelback Road, 6 th Floor >
      </p>
      <br />
      <p>
        Phoenix, AZ 85016 <br />
        contact@arenamerchandising.com <br />
        USA 1-602-357-3288
      </p>
    </ion-row>
  </ion-grid>

  <my-footer></my-footer>

  <my-chat></my-chat>
</ion-content>
