.sponsor-img {
  min-width: 0px !important;
  margin-right: 16px !important;
  margin-bottom: 16px !important;
  background-color: rgba(255, 255, 255, 1) !important;
  overflow: hidden !important;
  padding: 6px !important;
  border-radius: 6px !important;
  text-align: center;

  img {
    max-width: 120px !important;
    max-height: 120px !important;
  }
}
