.links {
  float: right;
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;

  .links-li {
    float: left;
    list-style: none;
    position: relative;
    padding: 0px;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;

    .go-link {
      margin-right: 5px;
      text-decoration: none;
    }

    .go-link:hover {
      color: #a7a7a8;
    }

    a {
      text-decoration: none;
      color: #000;
    }
  }
}

.icon {
  font-size: 25px;
  padding: 0 15px 0px 0px;
}
