<my-header></my-header>

<ion-content class="ion-no-padding">
  <my-banner></my-banner>
  <my-title [title]="title"></my-title>
  <div class="ion-padding content">
    <div class="info ion-text-center">
      <h4 class="bold">
        The Most Economical and Eco-Friendly Pre-Burned Screens. Print at an
        Outstanding 1200dpi Resolution
      </h4>
    </div>
  </div>

  <div class="divider"></div>

  <ion-row class="info">
    <ion-col size="12" sizeSm="6">
      <h4 class="bold ion-text-center">Screen Burning Services</h4>
      <h4 class="bold ion-text-center">PRINT MORE, STRESS LESS</h4>
      <p>
        Screen printed media is one of the most mainstream and essential
        printing and marketing methods used today. If you're printing detailed
        images that require more precise half-tones, gradients and fine lines,
        traditional mesh screens will eventually let you down.
      </p>
      <p>
        With Arena's Screen Burning Service, your print shop will become twice
        as productive overnight. Arena Prints offers the ONLY economical and
        eco-friendly pre-burned screen solution with the highest quality
        resolution possible (1200 dpi). Try us today and take all the headache
        out of print prep so you can get more orders out the door.
      </p>

      <p>
        We stand by our product with a 100% Satisfaction Guarantee. If you don't
        absolutely love our digital screen burns, we'll burn your image until we
        get it right or refund you for the full order.
      </p>
      <p>
        <i
          >Please note: The image prints and videos displayed throughout the
          site were screened using Arena's 200 Digital Mesh. For each image or
          photograph, only a single pull was used for each color. Arena's
          digital mesh perfectly captured the half tones, gradients and fine
          lines that a traditional mesh could never replicate.
        </i>
      </p>
    </ion-col>
    <ion-col size="12" sizeSm="6">
      <ion-row class="ion-padding">
        <ion-col size="12" sizeSm="6">
          <img src="../../../assets/images/h1.webp" alt="" />
        </ion-col>
        <ion-col size="12" sizeSm="6">
          <img src="../../../assets/images/h2.webp" alt="" />
        </ion-col>
        <ion-col size="12" sizeSm="6">
          <img src="../../../assets/images/h3.webp" alt="" />
        </ion-col>
        <ion-col size="12" sizeSm="6">
          <img src="../../../assets/images/h4.webp" alt="" />
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <div class="divider"></div>

  <my-capabilities></my-capabilities>

  <div class="divider"></div>

  <div class="bg-grey">
    <ion-col size="12"
      ><h4 class="bold ion-text-center ion-no-margin">
        Why Arena Screen Burning is Different
      </h4></ion-col
    >
    <ion-col size="12"
      ><h4 class="bold ion-text-center ion-no-margin">
        WE MAKE SCREEN PRINTING MORE EFFICIENT
      </h4></ion-col
    >
    <ion-row class="ion-padding ion-text-center">
      <ion-col class="ion-padding" size="12" sizeSm="6" sizeMd="4">
        <img src="../../../assets/images/x1.webp" alt="" />
        <h6>DIGITAL MESH WORKS WITH ALL INKS</h6>
      </ion-col>
      <ion-col class="ion-padding" size="12" sizeSm="6" sizeMd="4">
        <img src="../../../assets/images/x2.webp" alt="" />
        <h6>ELIMINATE TOXIC CHEMICALS</h6>
      </ion-col>
      <ion-col class="ion-padding" size="12" sizeSm="6" sizeMd="4">
        <img src="../../../assets/images/x3.webp" alt="" />
        <h6>DRASTICALLY REDUCE UTILITY COSTS</h6>
      </ion-col>
      <ion-col class="ion-padding" size="12" sizeSm="6" sizeMd="4">
        <img src="../../../assets/images/x4.webp" alt="" />
        <h6>SAVE TENS OF THOUSANDS OF GALLONS</h6>
      </ion-col>
      <ion-col class="ion-padding" size="12" sizeSm="6" sizeMd="4">
        <img src="../../../assets/images/x5.webp" alt="" />
        <h6>CUT LABOR & MATERIALS OVERHEAD</h6>
      </ion-col>
      <ion-col class="ion-padding" size="12" sizeSm="6" sizeMd="4">
        <img src="../../../assets/images/x6.webp" alt="" />
        <h6>PRINT HALF TONES & FINE LINES</h6>
      </ion-col>
    </ion-row>
  </div>

  <div class="divider"></div>

  <my-testimonials></my-testimonials>

  <my-subscribe></my-subscribe>

  <!-- <my-partners></my-partners> -->

  <my-footer></my-footer>
</ion-content>

<my-chat #chat></my-chat>
