$primary: #3880ff;
$color-base: #fff;
$color-text: #222;
$color-accent: desaturate(navy, 80%);

.content {
  background: #fff;
  background-color: #fff;

  .flex {
    display: inline-flex;

    a {
      cursor: pointer;
      padding-right: 10px;
      &:hover {
        color: $primary;
      }
    }
  }

  .icon {
    line-height: 20px;
    color: $primary;
    font-size: 20px;
  }

  .icon-sm {
    color: $primary;
  }

  .call {
    font-size: 20px;
  }

  .icon {
    cursor: pointer;
    font-size: 20px;
    width: 25px;
    color: #a2a5ad;
    margin-top: 5px;
  }

  .icon-lg {
    font-size: 35px;
    color: #a2a5ad;
    width: 50px;
    margin: 0 auto;
  }

  .fab {
    color: #000;
  }

  ion-col {
    .dropdown {
      background: #fff;
      z-index: 9999999 !important;
      visibility: hidden;
      list-style-type: none;
      width: auto;
      opacity: 0;
      min-width: 5rem;
      transition: all 0.5s ease;
      margin-top: 1rem;
      left: 0;
      display: none;
      position: absolute;

      &:hover {
        display: block;
      }
    }

    &:hover > .dropdown,
    .dropdown:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      color: $primary;
    }

    .dropdown .d-li {
      clear: both;
      padding: 5px 0;
      width: auto;
      margin: 0 15px;

      a {
        font-size: 16px;
      }

      &:hover {
        a {
          color: $primary;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .icon {
      font-size: 20px;
      margin: 5px 5px 0;
      color: #a2a5ad;
    }
  }

  @media screen and (min-width: 768px) {
    .footer-text-left {
      text-align: left;
    }

    .footer-text-right {
      text-align: right;
    }
  }
}

.sub-ul {
  list-style: none;
  color: black;
  position: absolute;
  z-index: 999999;

  li {
    color: black;

    &:hover {
      color: $primary;
    }
  }
}
