<ion-grid class="ion-padding">
  <ion-row class="ion-md-container ion-padding">
    <ion-col size="12" sizeMd="12">
      <h4 class="ion-text-center bold">WHY ARENA IS BETTER</h4>
    </ion-col>
    <ion-col size="12" sizeSm="6" sizeMd="4">
      <div class="box-card">
        <ion-icon class="icon" name="time"></ion-icon>
        <h4 class="bold rainbow">Quick Turnaround</h4>
        <p>
          We know deadlines are important. While we advertise a 1-3 day
          turnaround on any size burn, our average turn time is a 2 day
          out-the-door experience. Standard US Shipping is $10. We also offer
          rush & expedited delivery options and local pickup if needed. Don't
          forget to checkout our
          <a class="underline" (click)="navigate('faq')"
            >Frame Buyback Program</a
          >.
        </p>
      </div>
    </ion-col>
    <ion-col size="12" sizeSm="6" sizeMd="4">
      <div class="box-card">
        <ion-icon class="icon" name="thumbs-up"></ion-icon>
        <h4 class="bold rainbow">Smoother & Fewer Pulls</h4>
        <p>
          Arena Digital Screens aren't made from the same fibers used in
          traditional mesh. This means your pulls will be fewer, smoother, and
          much easier - making the entire print process faster, more efficient
          and physically less demanding. Visit our
          <a class="underline" (click)="navigate('faq')">FAQ Page</a> for more
          info.
        </p>
      </div>
    </ion-col>
    <ion-col size="12" offsetSm="3" sizeSm="6" offsetMd="0" sizeMd="4">
      <div class="box-card">
        <ion-icon class="icon" name="send"></ion-icon>
        <h4 class="bold rainbow">High Resolution Proofs</h4>
        <p>
          There is no better way to guarantee the accuracy of your print ready
          image files than to view an actual printed proof.
          <a class="underline" (click)="navigate('home')"
            >Arena Digital Screen Burning</a
          >
          makes it easy to print a single copy of your image. We'll send you the
          hi-resolution image that you can confirm that the resolution and
          placement are perfect.
        </p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
