/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Mina:400,700|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900');

/* Custom Imports */
@import './style/typography.scss';
@import './style/card.scss';
@import './style/quote-nav.scss';
@import './style/borders.scss';
@import './style/common.scss';
@import './style/footer.scss';

* {
  font-family: 'Titillium Web';
}

.header-md:after,
.footer-md:after {
  background-image: none !important;
  display: none !important;
}

.modal-content {
  border: none;
}

@media screen and(min-width: 992px) {
  .modal-lg {
    max-width: 800px !important;
    margin: 0 auto;
  }
}
@media screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 900px !important;
    margin: 0 auto !important;
  }
}

.card-header {
  // background-color: #fff !important;
}

button {
  color: #6693e0 !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

accordion-group {
  margin: 10px 0;

  .btn {
    white-space: pre-wrap !important;
  }
}

.card-header {
  padding: 1.75rem 1.25rem;
}
