<my-header></my-header>

<ion-content class="ion-no-padding">
  <my-banner></my-banner>
  <my-title [title]="title"></my-title>

  <ion-row class="faq-content ion-padding">
    <ion-col size="12">
      <h4 class="bold ion-margin-top ion-padding-top">Shipping & Returns</h4>

      <accordion>
        <accordion-group
          heading="What Is Arena's 100% Satisfaction Guarantee / Return Policy?"
        >
          <p>
            If you have supplied the print ready art files and approved the
            Print Proofs with an email confirmation, your Pre-burned screens are
            replaceable or refundable if:
          </p>
          <p>
            1. The return request is made within 10 days from receipt of
            merchandise unless stated otherwise.
          </p>
          <p>2. The screen arrives torn or damaged</p>
          <p>Email screenburning@arena.com to get the process started.</p>
        </accordion-group>
        <accordion-group heading="What is an Arena Digital Screen Burn?">
          <p>
            The Arena Digital Screen process uses a CTS (computer to screen)
            system with a thermal head that heat perforates an image onto mesh
            laminated with film. Arena Digital Screens drastically simplify the
            work flow required to burn a 1200 dpi print image without a need for
            the emulsion or film positives conventional screen making uses.
            Arena Digital Screens do not require light exposure, chemical
            cleaning or wash-out.
          </p>
        </accordion-group>
        <accordion-group
          heading="Can I see examples of prints done on an Arena Screen?"
        >
          <p>
            The image prints and videos displayed throughout the site were
            screened using Arena's 200 Digital Mesh. For each image or
            photograph, only a single pull was used for each color. Arena's
            digital mesh perfectly captured the half tones, gradients and fine
            lines that a traditional mesh could never replicate.
          </p>
        </accordion-group>
        <accordion-group heading="How Do I Clean An Arena Digital Screen?">
          <p>
            Cleaning and maintaining your Arena screen burn is less involved
            than the process used with traditional mesh screens.
          </p>
          <p>
            All you will need to clean and tape off image areas on our screens
            are Paper Towels, ink cards and a non-citrus based screen opener. We
            use Camie 480 Screen Opener exclusively. Whatever brand of screen
            opener you use, never use a citrus based screen opener. Citrus based
            cleaners are too acidic for the screens and will only erode the
            emulsion.
          </p>
          <p>
            Begin by removing all the excess ink surrounding the print area. For
            water based inks, it will be ok to use a damp paper towel with the
            ink card. There will never be a need for a single drop of water when
            removing plastisol inks. In fact, using water or a damp cloth on
            plastisol will only work to smear the ink without any meaningful
            result. Never attempt to clean the screen with a shower head or
            washout booth. The pressure from the spray will annihilate the mesh
            and your screen will be unusable.
          </p>
          <p>
            Also, when using water based inks, it is important that you wipe the
            ink immediately after the last print. If you allow any water based
            ink to sit for more than a minute, the ink will begin to permanently
            set into the mesh.
          </p>
          <p>
            Once the excess ink has been removed, spray on a conservative amount
            of the Camie 480 Screen opener and use a dry paper towel to begin
            removing the ink from the image field. Repeat this process 3-4
            times, applying moderate pressure to the mesh while wiping. There is
            no need to spray more screen opener than necessary when cleaning.
            Too much of the opener will actually make cleaning more difficult.
            After you have removed the ink from the mesh, a halo around the
            printable area will always remain. This is normal.
          </p>
          <p>
            Apply the same process to the underside of the mesh. Once you're
            confident that the ink has been fully cleared, let the screen air
            dry for 5 minutes before applying the next color or storing for
            future use.
          </p>
        </accordion-group>
        <accordion-group
          heading="How does Arena digital mesh compare with traditional mesh counts?"
        >
          <p>
            Arena Digital Screens come in only three mesh counts. The thermal
            print process makes it possible for our mesh to hold more "image
            information" creating higher resolution burns. If you are more
            accustomed to using a specific mesh count for your prints, you can
            achieve the results you're looking for using this comparison:
          </p>
          <p>
            <i
              >Arena Digital Mesh 200 replaces Traditional Mesh Counts of
              230/280/305</i
            >
          </p>

          <p>
            <i
              >Arena Digital Mesh 120 replaces Traditional Mesh Counts of
              160/200
            </i>
          </p>
          <p>
            <i
              >Arena Digital Mesh 70 replaces Traditional Mesh Counts of
              60/90/110
            </i>
          </p>
        </accordion-group>
        <accordion-group
          heading="How many newtons are Arena Digital Screens stretched at?"
        >
          <p>
            Screen Burns using the Arena 200 or 120 Digital Mesh are stretched
            at an average of 20 newtons. Arena 70 Digital Mesh will be delivered
            at an average tension of 15 newtons. Traditional pre-stretched
            frames are usually purchased with an average tension of 18 newtons.
          </p>
        </accordion-group>
        <accordion-group
          heading="How Many Total Prints Can I Get From An Arena Screen Burn?"
        >
          <p>
            We do not recommend printing more than 3000 prints with a single
            screen burn. Let us know if you have a multi-color print job that
            requires more than 3000 total prints. We do have the ability to
            double the life of the screen burn if you are printing only a single
            color run or are using an automatic press.
          </p>
        </accordion-group>
        <accordion-group
          heading="Can I reclaim and reuse the Digital Mesh screens?"
        >
          <p>
            Arena Digital Screens NEVER need to be reclaimed. In fact, if you
            try to wash our screens in a wash booth, you'll destroy the mesh.
            The frames we ship you can be re-stretched with traditional mesh if
            you needed to reuse the frame. We also can buy back all used frames
            in exchange for a discount on your next burn order.
          </p>
        </accordion-group>
        <accordion-group
          heading="What Is The Difference Between Standard and Same Day Turnaround?"
        >
          <p>
            Orders placed and approved before 11am PST can qualify for Same Day
            Turnaround. In most cases, your screen burn will be ready to ship by
            the end of business on the day you order or within 24 hours from the
            time you've approved your order. Orders placed on weekends or after
            the close of business on Fridays will be pushed to the next business
            day. Approval delays will affect turnaround time.
          </p>
          <p>
            If your order is placed within normal business hours, the Standard
            Turnaround time for your screen burn will be 3-4 business days from
            the date of your order.
          </p>
          <p>
            We do offer expedited shipping as an option. Neither the Standard
            nor the Same Day Turnaround options include expedited shipping. USPS
            ground shipping will be the default shipping option offered at
            checkout. If you need your screen burn delivered Next Day Air, 2 Day
            Air, or Priority Express, you will be solely responsible for
            selecting and paying for those options at checkout.
          </p>
        </accordion-group>
        <accordion-group heading="How Do I Tape Off Image Areas On The Screen?">
          <p>
            To tape off sections of your screen that don't need printing, clean
            the mesh first then simply cover the section of the image that you
            don't want printed with a paper towel. Use the True Blue Painters
            tape to tape down the edges so the pad stays in place. If you are
            needing to print in multiple colors, the only tape you should use on
            the digital mesh is True Blue Painter's tape. Traditional blue
            polyurethane tape can be used if you do not intend on ever removing
            it. If you do use and attempt to remove the traditional screen tape,
            the mesh will tear. Additionally, If you do not apply the pad and
            attempt to use the blue painters tape without protecting the image
            area, the adhesive from the tape and ink will combine and
            permanently set into the mesh. If this happens, there is a great
            chance you'll tear the screen while removing it.
          </p>
        </accordion-group>
        <accordion-group
          heading="Can I Reprint In Different Color Plastisol or Water Based Inks Using The Same Screen Burn?"
        >
          <p>
            Absolutely. The only inks we can't recommend using our screens for
            are glitter metallics.
          </p>
          <p>
            Water based, Plastisol, Varnish and Graphene-based inks all work
            with our mesh.
          </p>
        </accordion-group>
        <accordion-group heading="What is File Optimization & Image Prep?">
          <p>
            From time to time, clients are only able to supply raster graphic
            files that need converting into print ready vector files that are
            optimized for our screen burning process. Arena offers this service
            at a cost per each image file. You will receive the vector file
            versions for your records and future use. Arena does not provide
            custom design work. Should you need a starting point for
            commissioned design work, we recommend
            <a href="www.fiverr.com" target="_blank">www.fiverr.com</a>,
            <a href="www.upwork.com" target="_blank">www.upwork.com</a> and
            <a href="www.99designs.com" target="_blank">www.99designs.com</a>.
          </p>
          <p>
            The starting cost for most small to medium vector file optimization
            is $50. This could vary depending on the detail and size of your
            image.
          </p>
        </accordion-group>
        <accordion-group
          heading="Can I reprint in a different color ink using the same frame?"
        >
          <p>
            Absolutely. Simply wipe the ink off of both sides of the mesh using
            a paper towel and the Screen Opener of your choice and you'll be
            ready to print the same image in a different color. No other
            chemicals will be needed to clean or prep your screen for the next
            order.
          </p>
        </accordion-group>
        <accordion-group
          heading="What is the actual image size that can be burned on each screen?"
        >
          <p>
            The print areas of our digital screens are slightly larger than a
            traditional screen burn:
          </p>
          <p><i>20" x 24" Standard Size Screen = 13" x 18" image area </i></p>
          <p><i>23" x 31" Large Size Screen = 18" x 24" image area </i></p>
          <p>
            <i>25" x 36" Extra Large Size Screen = 18" x 29" image area </i>
          </p>
        </accordion-group>
        <accordion-group
          heading="Will I be able to see a print proof before you burn the screens?"
          ><p>
            Absolutely! The best part about our digital screens is that we are
            able to print an exact copy of what your image will look like once
            you begin printing. We send you both a sample image to confirm the
            image size and placement along with a hi-resolution picture of your
            printed image. You will literally be able to see the fine lines,
            tiny fonts and gradients in the image.
          </p>
        </accordion-group>
        <accordion-group heading="Can I return my used frames?">
          <p>
            Yes, Arena will buy back each used frame for a $2.50 credit on your
            next screen burn order. If have 3 or more used frames and want to
            send them back, let us know when you're ready to return the frames
            and we'll send you a pre-paid mailing label. Please visit our
            <a href="">Frame Buyback Contact Form</a>.
          </p>
        </accordion-group>
      </accordion>

      <h4 class="bold ion-margin-top ion-padding-top">Shipping & Returns</h4>

      <accordion>
        <accordion-group
          heading="What Is Arena's 100% Satisfaction Guarantee / Return Policy?"
        >
          <p>
            If you have supplied the print ready art files and approved the
            Print Proofs with an email confirmation, your Pre-burned screens are
            replaceable or refundable if:
          </p>
          <p>
            1. The return request is made within 10 days from receipt of
            merchandise unless stated otherwise.
          </p>
          <p>2. The screen arrives torn or damaged</p>
          <p>Email screenburning@arena.com to get the process started.</p>
          <p>Replacement Screens:</p>
          <p>
            Unless new artwork is supplied, replacement screens ship within 2
            business days from the day we receive the request. All replacements
            will be shipped via UPS Ground. Expedited shipping options are
            available for an additional charge.
          </p>
          <p>Screen Refunds:</p>
          <p>
            Refunds are given in the same form of the original payment used for
            purchase within 1 to 3 business days of receipt of the return
            package.
          </p>
          <p>
            Shipping and handling fees are not refundable unless the return or
            exchange is a result of our error.
          </p>
        </accordion-group>
        <accordion-group heading="How long do the screens take to ship?">
          <p>
            Standard Shipping & Free Shipping are with UPS Ground or USPS
            Priority Mail will be selected based on which option will ship the
            fastest. We are located in Phoenix, Arizona and depending on your
            distance from us, it can take 1-5 days for your frames to arrive.
          </p>
          <p>
            Alternative shipping options for overnight or 2 day delivery are
            available at checkout. Feel free to Live chat or call us at
            855-462-7362 if you need expedited shipping or have special shipping
            instructions.
          </p>
        </accordion-group>
        <accordion-group heading="Can I track my order?">
          <p>
            Yes, you will be provided with a tracking number for your order by
            email once your purchase has shipped.
          </p>
        </accordion-group>
        <accordion-group heading="What is yoour address?">
          <a
            href="https://www.google.com/maps/place/Arena+Merchandising:+Custom+Screen+Printing+%26+Embroidery/@33.6812825,-112.0787436,17z/data=!3m1!4b1!4m5!3m4!1s0x872b6f943ce0f6c9:0x5c8f48817f75a50!8m2!3d33.6812825!4d-112.0765549"
            target="_blank"
            >Arena Prints <br />
            21430 North 2nd Ave, STE 2 <br />
            Phoenix, AZ 85027, USA</a
          >
        </accordion-group>
      </accordion>
    </ion-col>
  </ion-row>

  <div class="divider"></div>

  <my-capabilities></my-capabilities>

  <my-testimonials></my-testimonials>

  <my-subscribe></my-subscribe>

  <my-footer></my-footer>
</ion-content>

<my-chat #chat></my-chat>
